RewriteEngine on

RewriteCond $1 !^(index\.php|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 
php_flag display_errors on
#php_value memory_limit 1024M

<ifmodule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/gif "access plus 1 year"
	ExpiresByType image/jpeg "access plus 1 year"
	ExpiresByType image/png "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
	ExpiresByType text/css "access plus 1 year"
	ExpiresByType image/x-icon "access plus 1 year"
	#Header set Cache-Control "no-cache,no-store,max-age=0"
</ifmodule>
FileETag MTime Size
<Files *>
    #Compress
    SetOutputFilter DEFLATE
    #Caching
    #Header set Cache-Control "max-age=3600, public"

</Files>

<IfModule mod_headers.c>
   Header add Cache-Control:  "no-store, no-cache, must-revalidate"
</IfModule>

